USE [Tracking]
GO
/****** Object:  Table [dbo].[ESB_CATALOGO_SERVICIOS]    Script Date: 21-03-2021 19:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESB_CATALOGO_SERVICIOS](
	[ID_CATALOGO_PK] [int] NOT NULL,
	[ID_OPERATION_FK] [int] NULL,
	[ID_PASO_PROD_FK] [int] NULL,
	[OPERATION_DESC] [varchar](250) NULL,
	[VERSION_OPERATION] [varchar](250) NULL,
	[TIPO_ENDPOINT] [varchar](250) NULL,
	[ENDPOINT] [varchar](250) NULL,
 CONSTRAINT [PK__CATALOGO_SERVICIOS] PRIMARY KEY CLUSTERED 
(
	[ID_CATALOGO_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESB_PASO_PROD]    Script Date: 21-03-2021 19:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESB_PASO_PROD](
	[ID_PASO_PROD_PK] [int] NOT NULL,
	[ID_PROJECT_FK] [int] NOT NULL,
	[UPD_DATE] [datetime] NULL,
	[VERSON_PROJ_PROD] [varchar](250) NULL,
	[RESPONSABLE_PROD] [varchar](250) NULL,
	[PERSON_SOLIC_PROD] [varchar](250) NULL,
	[COD_REQ_PROD] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
 CONSTRAINT [PK_ESB_PASO_PROD] PRIMARY KEY CLUSTERED 
(
	[ID_PASO_PROD_PK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESB_PROJECT]    Script Date: 21-03-2021 19:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESB_PROJECT](
	[ID_PROJECT] [int] NOT NULL,
	[PROJECT_NAME] [varchar](250) NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[NAME_RESPONSABLE] [varchar](250) NULL,
	[RESPONSABLE_DES] [varchar](250) NULL,
	[NAME_COMPANY] [varchar](250) NULL,
	[DESCRIPTION] [varchar](250) NULL,
	[NAME_SERVICE] [varchar](250) NULL,
	[ENVIRONMENT] [varchar](250) NULL,
 CONSTRAINT [PK_ESB_PROJECT] PRIMARY KEY CLUSTERED 
(
	[ID_PROJECT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESB_PROJECT_OPERATION]    Script Date: 21-03-2021 19:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESB_PROJECT_OPERATION](
	[ID_OPERATION] [int] NOT NULL,
	[ID_PROJECT_ESB] [int] NOT NULL,
	[PROXY_NAME] [varchar](200) NOT NULL,
	[DESCRIPTION] [varchar](250) NOT NULL,
 CONSTRAINT [PK_ESB_PROJECT_OPERATION] PRIMARY KEY CLUSTERED 
(
	[ID_OPERATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESB_TRACK]    Script Date: 21-03-2021 19:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESB_TRACK](
	[OPERATION] [varchar](100) NULL,
	[KEY] [varchar](400) NULL,
	[URI_IN] [varchar](400) NULL,
	[INPUT] [text] NULL,
	[URI_OUT] [varchar](400) NULL,
	[OUTPUT] [text] NULL,
	[HTTP_CODE] [varchar](5) NULL,
	[ID_REG] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CREATED_DATE] [datetime] NULL,
	[ID_OPERATION] [int] NOT NULL,
	[ID_REF] [varchar](100) NULL,
	[HR_START] [time](7) NULL,
	[HR_END] [time](7) NULL,
	[RESPONSE_TIME] [int] NULL,
	[FAULT] [text] NULL,
	[IP_CLIENTE] [varchar](40) NULL,
 CONSTRAINT [PK_TRACK] PRIMARY KEY CLUSTERED 
(
	[ID_REG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 21-03-2021 19:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_ROL] [int] NOT NULL,
	[TIPO] [varchar](250) NULL,
 CONSTRAINT [PK_ROL_1] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 21-03-2021 19:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USERNAME] [varchar](250) NOT NULL,
	[EMAIL] [varchar](250) NULL,
	[PASSWORD] [varchar](250) NULL,
	[DATE] [datetime] NULL,
	[ID_ROL_FK] [int] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ESB_CATALOGO_SERVICIOS]  WITH CHECK ADD  CONSTRAINT [CATALOGO_ID_OPERATION] FOREIGN KEY([ID_OPERATION_FK])
REFERENCES [dbo].[ESB_PROJECT_OPERATION] ([ID_OPERATION])
GO
ALTER TABLE [dbo].[ESB_CATALOGO_SERVICIOS] CHECK CONSTRAINT [CATALOGO_ID_OPERATION]
GO
ALTER TABLE [dbo].[ESB_CATALOGO_SERVICIOS]  WITH CHECK ADD  CONSTRAINT [CATALOGO_ID_PASO_PROD] FOREIGN KEY([ID_PASO_PROD_FK])
REFERENCES [dbo].[ESB_PASO_PROD] ([ID_PASO_PROD_PK])
GO
ALTER TABLE [dbo].[ESB_CATALOGO_SERVICIOS] CHECK CONSTRAINT [CATALOGO_ID_PASO_PROD]
GO
ALTER TABLE [dbo].[ESB_PASO_PROD]  WITH CHECK ADD  CONSTRAINT [ESB_PASO_PROD_PROJECT] FOREIGN KEY([ID_PROJECT_FK])
REFERENCES [dbo].[ESB_PROJECT] ([ID_PROJECT])
GO
ALTER TABLE [dbo].[ESB_PASO_PROD] CHECK CONSTRAINT [ESB_PASO_PROD_PROJECT]
GO
ALTER TABLE [dbo].[ESB_PROJECT_OPERATION]  WITH CHECK ADD  CONSTRAINT [FK_ESB_PROJECT] FOREIGN KEY([ID_PROJECT_ESB])
REFERENCES [dbo].[ESB_PROJECT] ([ID_PROJECT])
GO
ALTER TABLE [dbo].[ESB_PROJECT_OPERATION] CHECK CONSTRAINT [FK_ESB_PROJECT]
GO
ALTER TABLE [dbo].[ESB_TRACK]  WITH CHECK ADD  CONSTRAINT [FK_TRACK_OPERATION] FOREIGN KEY([ID_OPERATION])
REFERENCES [dbo].[ESB_PROJECT_OPERATION] ([ID_OPERATION])
GO
ALTER TABLE [dbo].[ESB_TRACK] CHECK CONSTRAINT [FK_TRACK_OPERATION]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [ID_USER_ROL_FK] FOREIGN KEY([ID_ROL_FK])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [ID_USER_ROL_FK]
GO
/****** Object:  StoredProcedure [dbo].[create_track]    Script Date: 21-03-2021 19:41:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure  [dbo].[create_track]

@KEY varchar(200) = null,
@OPERATION varchar(200) = null,
@URI_IN varchar(400) = null,
@INPUT text = null,
@URI_OUT varchar(400) = null,
@OUTPUT text = null,
@HTTP_CODE varchar(5) = null,
@ID_OPERATION INT = null,
@ID_REF varchar(100) = null,
@HR_START TIME(7) = null,
@HR_END TIME(7)  = null,
@FAULT text = null,
@IP_CLIENTE text = null,
@p_num_error int OUTPUT,
@p_desc_error varchar(200) OUTPUT 

as
BEGIN
	declare @v_count int
SET NOCOUNT ON;
BEGIN TRY 

INSERT INTO [dbo].[ESB_TRACK]
           ([INPUT]
           ,[OPERATION]
           ,[OUTPUT]
           ,[URI_IN]
           ,[URI_OUT]
		   ,[HTTP_CODE]
		   ,[CREATED_DATE]
		   ,[ID_OPERATION]
		   ,[KEY]
		   ,[ID_REF]
		   ,[HR_START]
		   ,[HR_END]
		   ,[FAULT]
		   ,[RESPONSE_TIME]
		   ,[IP_CLIENTE])
     VALUES
           (@INPUT, 
           @OPERATION, 
           @OUTPUT, 
           @URI_IN,
           @URI_OUT,
		   @HTTP_CODE,
		   GETDATE(),
		   @ID_OPERATION,
		   @KEY,
		   @ID_REF,
		   @HR_START,
		   @HR_END,
		   @FAULT,
		   DATEDIFF(millisecond,@HR_START,@HR_END),
		   @IP_CLIENTE)


		set @v_count = @@rowcount

		if @v_count = 0
		begin
			SET @p_num_error = -1
			SET @p_desc_error = 'Ningún registro insertado'
		end
		else
		begin
			SET @p_num_error = 0
			SET @p_desc_error = 'ok'
			RETURN  1
		end
	END TRY
	BEGIN CATCH
		SET @p_num_error = ERROR_NUMBER()
		SET @p_desc_error = ERROR_MESSAGE()

	

	END CATCH
end

GO
